@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: 'Lato';
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Exact differentiation still tbd */
h4, h5, h6 {
  /* font-family: 'Roboto Slab'; */
  font-family: 'Lato';
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.2em;
} 

p {
  font-family: 'Lato';
  font-weight: lighter;
}

.bg-forest {
  background-image: url('./images/forest_bg_website.jpg');
  background-size: cover;
  background-position: center;
}

.fix-header-height {
  height: 60px;
}

.fix-content-height {
  height: calc(100vh - 60px);
}

.hover-beige {
  font-weight: inherit;
}

.hover-beige:hover {
  background-color: beige;
  color: #11414D
}

.active-green {
  font-weight: inherit;
}

.active-green:active {
  background-color: #18D57F;
  color: white;
}
