@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: 'Lato';
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Exact differentiation still tbd */
h4, h5, h6, .font-lato-light-uppercase {
  font-family: 'Lato';
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.2em;
} 

p, .font-lato-light {
  font-family: 'Lato';
  font-weight: lighter;
}

.font-roboto-slab {
  font-family: 'Roboto Slab';
  text-transform: none;
  letter-spacing: normal;
}

.font-xs {
  font-size: 0.7em;
}

.font-s {
  font-size:0.9em;
}

.font-m {
  font-size: 1.1em;
}

.bg-forest {
  background-image: url('./images/forest_bg_website.jpg');
  background-size: cover;
  background-position: center;
}

.bg-dead-forest {
  background-image: url('./images/forest_dead.jpg');
  background-size: cover;
  background-position: center;
  
}

.fix-img-height {
  width: 50px;
  height: 50px;
}

.fix-header-height {
  height: 60px;
}

.fix-content-height {
  min-height: 100vh;
  margin-top: 60px;
}

.fix-content-height-below-header {
  min-height: calc(100vh - 60px);
}

.SideBar {
  transition: 350ms;
  height: calc(100vh - 60px);
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  width: 250px;
}

.SideBar.hidden {
  width: 60px;
}

.fix-content-width {
  transition: 350ms;
  margin-left: 250px;
  width: 100%;
}

.fix-content-width.hidden {
  margin-left: 60px;
}

.res-width-container {
  width: 100%
}

.res-width-container-lg {
  width: 100%
}

.res-width-container-sm {
  width: 100%
}

.below-header-right {
  position: absolute;
  right: 0;
  top:70px;
}

.rounded-circle {
  border-radius: 50%;
}

/* seems to be broken in bootstrap */
.mr-2 {
  margin-right: 0.5rem !important;
}

input.invalid:active, input.invalid:focus,
select.invalid:active, select.invalid:focus {
  border-color: #d53118 !important;
  box-shadow: 0 0 0 0.25rem rgb(213 49 24 / 25%) !important;
}

a:hover, .nav-link:hover, a:focus, a:hover svg, a:focus svg {
  color: #18D57F !important;
}

.nav-link.active {
  background-color: inherit !important;
  border-bottom-color: #F4F6F7 !important;
}

.btn-custom.border-secondary-cstm:hover {
  background-color:#18D57F;
  color: white !important;
}

.btn-custom.text-primary-cstm:hover {
  color: white !important;
}

.btn-custom.border-danger:hover {
  background-color: #d53118; 
  color: white !important;
}

@media only screen and (min-width: 576px) {
  .res-width-container-sm {
    width: 80%;
  } 
}

@media only screen and (min-width: 768px) {
  .res-width-container-sm {
    width: 60%;
  } 
}

@media only screen and (min-width: 992px) {
  .res-width-container {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) and (orientation: landscape) {
  .res-width-container {
    width: 60%;
  }
  .res-width-container-sm {
    width: 40%;
  } 
}

@media only screen and (min-width: 1400px) and (orientation: landscape) {
  .res-width-container-lg {
    width: 80%
  }
}