@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: 'Lato';
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Exact differentiation still tbd */
h4, h5, h6 {
  /* font-family: 'Roboto Slab'; */
  font-family: 'Lato';
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.2em;
} 

p {
  font-family: 'Lato';
  font-weight: lighter;
}

.font-roboto-slab {
  font-family: 'Roboto Slab';
  text-transform: none;
  letter-spacing: normal;
}

.bg-forest {
  background-image: url('./images/forest_bg_website.jpg');
  background-size: cover;
  background-position: center;
}

.fix-img-height {
  height: 50px;
  width: 50px;
}

.fix-header-height {
  height: 60px;
}

.fix-content-height {
  height: calc(100vh - 60px);
}

.min-content-height {
  min-height: calc(100vh - 60px);
}

.fix-sidebar-width {
  width: 80px;
}

.fix-sidebar-position {
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
}

.fix-content-width {
  /* width: calc(100vw - 80px) */
  margin-left: 80px;
  width: 100%;
}

.res-width-container {
  width: 100%
}

.res-width-container-lg {
  width: 100%
}

.below-header-right {
  position: absolute;
  right: 0;
  top:70px;
}

@media only screen and (min-device-width: 768px) {
  .fix-sidebar-width {
    width: 270px
  }
  .fix-content-width {
    /* width: calc(100vw - 270px) */
    margin-left: 270px
  }
}

@media only screen and (min-width: 992px) {
  .res-width-container {
    width: 80%
  }
}

@media only screen and (min-width: 1200px) and (orientation: landscape) {
  .res-width-container {
    width: 60%
  } 
}

@media only screen and (min-width: 1400px) and (orientation: landscape) {
  .res-width-container-lg {
    width: 80%
  }
}